.header-bg {
    background: url("../images/crypto-bg.webp");
}

main {
    height: 73vh;
}

.faq-header {
    margin: 40px 0;
    font-size: 2rem;
}

.table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.firstDiv {
    float: left;
    width: 49%;
    grid-area: 1 / 1 / 6 / 3;
    margin-right: 15px;
}

.secondDiv {
    width: 49%;
    float: right;
    grid-area: 1 / 3 / 6 / 5;
}

.faq-item {
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 0.5em;
    overflow: hidden;
}

.faq-question {
    background: var(--muted);
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    padding: 15px;
    justify-content: space-between;
}

.arrows-container {
    cursor: pointer;
}

.expand {
    display: block;
}

.close {
    display: none;
}

.show-answer .faq-answer {
    display: flex;
}

.show-answer .close {
    display: inline;
}

.show-answer .expand {
    display: none;
}

@media screen and (max-width: 1076px) {

    .firstDiv,
    .secondDiv {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header-bg {
        background: url("../images/mobile-bg.webp");
        background-position: center 150px;
    }
}